@model Student
@{
    ViewData["Title"] = "Create";
}

<h1>Delete  Registration</h1>

<form method="post">
    <pre>
    <label asp-for="Name"></label>
    <input disabled asp-for="Name" />

    <label asp-for="FatherName"></label>
    <input disabled asp-for="FatherName" />

    <label asp-for="MotherName"></label>
    <input disabled asp-for="MotherName" />

    <label asp-for="Email"></label>
    <input disabled asp-for="Email" />

    <label asp-for="Mobile"></label>
    <input disabled asp-for="Mobile" />

    <button type="submit">Delete</button>

    <a asp-action="Index" asp-controller="Student">Back to Return</a>
    </pre>
</form>